:root {
  --van-dialog-max-height: 90vh;
  --van-dialog-header-padding: 15px 0 10px;
  --main-button-padding: 10px;
}

.van-dialog {
  max-height: var(--var-dialog-max-height);
  overflow-y: scroll;
  .van-dialog__header {
    padding: var(--van-dialog-header-padding);
  }
}

.mobile-x-table {
  width: 100%;
}

.mobile-x-form {
  width: 100%;
  .van-progress {
    width: 100%;
  }
}

.comp-html {
  width: 100%;
}

.mobile-x-select {
  width: 100%;
  height: 20px;
  line-height: 20px;
}

.x-picker {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  &__placeholder {
    color: #ccc;
  }
  &__value {
    color: #555;
  }
}

main {
  .van-button--block {
    width: calc(100% - var(--main-button-padding) * 2);
    margin-left: var(--main-button-padding);
    margin-right: var(--main-button-padding);
  }
}
